[submodule "RivBreach"]
	path = RivBreach
	url = https://github.com/8damon/rivbreach
[submodule "SysQuanta"]
	path = SysQuanta
	url = https://github.com/8damon/SysQuanta
[submodule "Konflict"]
	path = Konflict
	url = https://github.com/TITAN-Softwork-Solutions/Konflict
